<main class="container">

    <h2>Smallest Difference:</h2>
    <h5>Please enter numbers separated with comma (,): </h5>
    <form id="send-form" action="/challenge/smallest-difference" method="POST">
        <fieldset>
            <div class="form-group mb-3">
                <label class="form-label" for="array_one" style="padding-top: 30px;">Array 1</label>
                <input type="text" class="form-control" id="array_one" name="array_one">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="array_two">Array 2</label>
                <input type="text" class="form-control" id="array_two" name="array_two">
            </div>
            <button type="submit" id="submitButton" onclick="sendForm(event)" class="btn text-light" style="background-color: #6fa338;">Send</button>

    </form>

    <h2 style="padding-top: 100px;">Non-Constructible Change:</h2>
    <h5>Please enter numbers separated with comma (,): </h5>
    <form action="/challenge/non-constructible-change" method="POST">

        <div class="form-group mb-3">

            <label class="form-label" for="coins" style="padding-top: 30px;"> Coins</label>
            <input type="text" class="form-control" id="coins" name="coins">

        </div>
        </fieldset>
        <button type="submit" id="submitButton" class="btn text-light" style="background-color: #6fa338;">Send</button>
    </form>
{{!--      <script>
        // Tu función sendForm aquí
        function sendForm(event) {
            event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

            const fieldArray1 = document.getElementById("array_one").value;
            const fieldArray2 = document.getElementById("array_two").value;

            const regex = /^(\d+,)*\d+$/;

            if (regex.test(fieldArray1) && regex.test(fieldArray2)) {
                const valueArray1 = fieldArray1.split(",").map(Number);
                const valueArray2 = fieldArray2.split(",").map(Number);

                console.log(valueArray1, valueArray2);

                // Aquí puedes enviar los arrays en el cuerpo de una petición HTTP
            } else {
                alert("Por favor, ingrese valores numéricos separados por comas.");
            }
        }

        // Añadir un event listener al formulario
        document.getElementById("send-form").addEventListener("submitButton", sendForm);
    </script>  --}}
</main>