<main class="container">

    <h2>Smallest Difference:</h2>
    <h5>Please enter numbers separated with comma (,): </h5>
    <form action="{{test}}/downloadReport" method="POST">
        <fieldset>
            <div class="form-group mb-3">
                <label class="form-label" for="array_one" style="padding-top: 30px;">Array 1</label>
                <input type="text" class="form-control" id="array_one" name="array_one">
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="array_two">Array 2</label>
                <input type="text" class="form-control" id="array_two" name="array_two">
            </div>
            <button type="submit" id="submitButton" class="btn text-light" style="background-color: #6fa338;">Send</button>
    </form>

   <h2 style="padding-top: 100px;">Non-Constructible Change:</h2>
   <h5>Please enter numbers separated with comma (,): </h5>
    <form action="{{test}}/validate-fields" method="POST">

            <div class="form-group mb-3">

                <label class="form-label" for="coins" style="padding-top: 30px;" > Coins</label>
                <input type="text" class="form-control" id="coins" name="coins">
            </div>
        </fieldset>
        <button type="submit" id="submitButton" class="btn text-light" style="background-color: #6fa338;">Send</button>
    </form>
</main>