<main class="container">


    <h2>Smallest Difference:</h2>
    <h5>Please enter numbers separated with comma (,): </h5>

    <div class="form-group mb-3">
        <label class="form-label" for="array_one" style="padding-top: 30px;">Array 1</label>
        <input type="text" class="form-control" id="array_one" name="array_one">
    </div>
    <div class="form-group mb-3">
        <label class="form-label" for="array_two">Array 2</label>
        <input type="text" class="form-control" id="array_two" name="array_two">
    </div>
    <button id="smallest-difference" onclick="sendSmallestDifference()" class="btn text-light"
        style="background-color: #6fa338;">Send</button>



    <h2 style="padding-top: 100px;">Non-Constructible Change:</h2>
    <h5>Please enter numbers separated with comma (,): </h5>


    <div class="form-group mb-3">

        <label class="form-label" for="coins" style="padding-top: 30px;"> Coins</label>
        <input type="text" class="form-control" id="coins" name="coins">

    </div>
    <button id="non-constructible-change" onclick="sendNonConstructibleChange()" class="btn text-light"
        style="background-color: #6fa338;">Send</button>

    <script>

        function sendSmallestDifference() {

            const fieldArray1 = document.getElementById("array_one").value;
            const fieldArray2 = document.getElementById("array_two").value;

            const valueArray1 = fieldArray1.split(",").map(Number);
            const valueArray2 = fieldArray2.split(",").map(Number);

            console.log(valueArray1);


            fetch("http://localhost:3000/challenge/smallest-difference", {
                method: "POST",
                body: JSON.stringify({
                    "array_one": valueArray1,
                    "array_two": valueArray2
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then((response) => response.json())
                .then((json) => alert(json.result));
        }

        function sendNonConstructibleChange() {
            const fieldArray1 = document.getElementById("coins").value;
            const valueArray1 = fieldArray1.split(",").map(Number);

            console.log(valueArray1);

            fetch("http://localhost:3000/challenge/non-constructible-change", {
                method: "POST",
                body: JSON.stringify({
                    "coins": valueArray1
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then((response) => response.json())
                .then((json) => alert(json.result));
        }
    </script>
</main>