<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Challenge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header class="mb-3 container-fluid">
        <nav class="navbar bg-ligth">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <h1 style="color: #49494d;">Challenge fullStack</h1>
            </div>
        </nav>
    </header>
    {{{body}}}
    <footer class="container-fluid mt-3 text-center">
        <p style="padding-top: 20px;">Copyright Gabriela Chacon. All rights reserved. Duplication, distribution or
            storage in any medium is prohibited.</p>
    </footer>
</body>

</html>